body {

	background-color: blue;
	background-image: url("assets/images/textured_paper.png");
}

.navbar{
	background: #ffffff;
	margin-bottom: 40px;
	padding: 16px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 2px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	
}

.name{
	background: #4aaaa5;
	padding: 25px;
	width: 20%;
	position: absolute;
	left: 60px;
	top: 8px;
	margin-left: 150px;
}

.about{
	height: 500px;
	width: 700px;
	background: #ffffff;
	border: solid .5px #cccccc;
	margin-left: 200px;
	margin-bottom: 40px;
	float: left;

}

.contact{
	height: 500px;
	width: 700px;
	background: #ffffff;
	border: solid .5px #cccccc;
	margin-left: 200px;
	margin-bottom: 40px;
	float: left;
	position: relative;
}

 .submit{
 		height: 50px;
 		width: 150px;
 		background: #4aaaa5;
 		position: absolute;
 		bottom: 20px;
 		left: 40px;
 }

.connect{
	height: 250px;
	width: 300px;
	background: #ffffff;
	border: solid .5px #cccccc;
	margin-left: 60px;
	margin-right: 450px;
	float: right;
}

.footer{
	clear: both;
	background: #666666;
	padding: 40px;
	border-top-style: solid;
	border-top-color:  #4aaaa5;
	border-top-width: 10px;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	font-size: 10pt;
}

h1 {
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
	font-weight: bold;
	top-margin: 10px;
	text-align: left;
	margin-top: 40px;
	margin-left: 35px;
	font-size: 24pt;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3{
	margin-top: 50px;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h4{
	margin-top: 20px;
	font-size: 14pt;
	text-align: center;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

p{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15pt;
	width: 650px;
	text-align: left;
	margin-left: 20px;

}

img {
	padding: 15px;
	margin-bottom: 5px;
	margin-left: 10px
}

hr {
	height: 3px;
	width: 90%;
	background-color: #cccccc;
	align: center;
	margin-top: 20px;
	border: 0px;

}

a {
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 12pt;
}

ul {
	list-style-type: none;
	margin-right: 400px;
	padding: 20px;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: inline;
	color: #777777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15pt;
}

input {
	margin-left: 40px;
}